rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Regra geral para ficheiros de perfil de utilizador
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Regra específica para os documentos de verificação (KYC)
    match /kyc_documents/{userId}/{imageId} {
      // Um utilizador só pode escrever na sua própria pasta
      allow write: if request.auth != null && request.auth.uid == userId;

      // Um utilizador pode ler os seus próprios ficheiros OU um admin pode ler qualquer ficheiro
      allow read: if request.auth != null && (request.auth.uid == userId || request.auth.token.isAdmin == true);
    }
  }
}